<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/seniorLogin.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"> 
</head>
<body>
  <main>
    <img src="./img/seniorBackgroundImg.png" alt="" class="seniorBackgroundImg">
    <div class="seniorLogin-container">
      <div class="seniorLogin-logo"><img src="./img/senior-alheum_logo.svg" alt=""></div>
      <p>로그인</p>
      <div class="seniorLogin-loginBox">
        <p>전화번호</p>
        <input type="text" name="seniorPhonenumber" id="seniorPhonenumber" placeholder="숫자만 입력해주세요 (ex. 01012341234)">
        <p>비밀번호</p>
        <input type="password" name="seniorPassword" id="seniorPassword" placeholder="비밀번호를 입력해주세요">
        <a class="seniorLogin-loginBox-loginButton" href="./seniorMain.html">로그인</a>
        <div class="seniorLogin-loginBox-menu">
          <a class="seniorPassword-find" href="./seniorPassword-find.html">비밀번호 찾기</a>
          <a class="seniorJoin" href="./seniorJoin.html">회원가입</a>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>
</html>