<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수정하기</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- retouch CSS -->
  <link rel="stylesheet" href="./../../static/css/protectorCommunity-retouch.css">
  <!-- retouch JS -->
  <script defer src="./../../static/js/protectorCommunity-retouch.js"></script>
  <!-- fetch -->
  <script defer src="./../../static/js/headerMember.js"></script>
  <script defer src="./../../static/js/footer.js"></script>
  <link rel="stylesheet" href="./../../static/css/headerMember.css">
  <link rel="stylesheet" href="./../../static/css/footer.css">
</head>
<body>
  <header></header>

  <main>
    <h2>수정하기</h2>
    <form action="" method="">
      <div class="retouch-title">
        <label for="">제목</label>
        <input type="text" name="" id="">
      </div>
      <textarea name="" id="retouch-content"></textarea>
      <div class="retouch-inputFile">
        <span>첨부파일</span>
        <input type="file" id="retouch-file">
        <button type="button" onclick="deleteFile(this)">삭제</button>
      </div>
      <div class="retouch-buttons">
        <span class="cancel" onclick="back()">취소</span>
        <button>작성완료</button>
      </div>
    </form>
  </main>

  <footer></footer>
</body>
</html>