<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>커뮤니티-소통상세</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- communicateDetails CSS -->
  <link rel="stylesheet" href="/css/protectorCommunity-communicateDetails.css">
  <!-- communicateDetails JS -->
  <script defer src="/js/protectorCommunity-communicateDetails.js"></script>
  <!-- fetch -->
  <script defer src="/js/headerMember.js"></script>
  <script defer src="/js/footer.js"></script>
  <link rel="stylesheet" href="/css/headerMember.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  <header></header>

  <main>
    <input type="hidden" id="boardCommuNum" th:value="${detail.boardCommuNum}">
    <div class="protectorCommunity-communicateDetails-title">
      <div class="title-top">
        <p>
          <span>[소통]</span>
          <span th:text="${detail.boardCommuTitle}"></span>
        </p>
        <div class="menuButton">
          <img src="/img/community-menuButton.png" alt="">
          <ul class="menuButton-modifyDelete">
            <li><button type="button" class="modifyButtn" th:data-id="${detail.boardCommuNum}">수정</button></li>
            <li><button type="button" class="deleteButtn" th:data-id="${detail.boardCommuNum}">삭제</button></li>
          </ul>
        </div>
      </div>
      <div class="title-bottom">
        <span th:text="${detail.proMemName}"></span>
        <span th:text="${#temporals.format(detail.boardCommuDate, 'yyyy-MM-dd HH:mm')}"></span>
      </div>
    </div>

    <div class="protectorCommunity-communicateDetails-content">
      <p th:text="${detail.boardCommuContents}"></p>
      <p>
        <img src="/img/community-example.png" alt="">
      </p>
    </div>

    <div class="protectorCommunity-communicateDetails-comments">
      <div class="comments-top">
        <p><img src="/community-commentsLogo.png" alt=""></p>
        <span>Comments</span>
      </div>
      <ul class="comments-list">
<!--        <li>-->
<!--          <div class="comments-list-own">-->
<!--            <p><img src="/img/community-profile.png" alt=""></p>-->
<!--            <div>-->
<!--              <div class="comments-list-writer">-->
<!--                <span>작성자</span>-->
<!--                <div class="comments-menuButton">-->
<!--                  <img src="/img/community-menuButton.png" alt="">-->
<!--                  <ul class="comments-list-submenu">-->
<!--                    <li class="reply"><span>답글</span></li>-->
<!--                    <li><span>삭제</span></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <p class="comments-list-contents">-->
<!--                <span>으미 기여븐거</span>-->
<!--                <span>20240511 15:08</span>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <ul class="comments-list-reply">-->
<!--            <div class="reply-inputBox">-->
<!--              <div class="reply-input">-->
<!--                <input type="text" name="" placeholder="댓글을 남겨보세요">-->
<!--                <button>등록</button>-->
<!--              </div>-->
<!--            </div>-->
<!--            <li>-->
<!--              <p>ㄴ</p>-->
<!--              <div>-->
<!--                <p class="reply-writer">-->
<!--                  <span>다른사람 1</span>-->
<!--                  <span></span>-->
<!--                </p>-->
<!--                <p class="reply-contents">-->
<!--                  <span>넘기여브넹</span>-->
<!--                  <span>20240511 15:08</span>-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li>-->
<!--              <p>ㄴ</p>-->
<!--              <div>-->
<!--                <p class="reply-writer">-->
<!--                  <span>다른사람 1</span>-->
<!--                  <span></span>-->
<!--                </p>-->
<!--                <p class="reply-contents">-->
<!--                  <span>넘기여브넹</span>-->
<!--                  <span>20240511 15:08</span>-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>

      <div class="protectorCommunity-communicateDetails-commentsInput">
        <form action="">
          <input type="text" name="" placeholder="댓글을 남겨보세요">
          <button>등록</button>
        </form>
      </div>
    </div>

    <div class="protectorCommunity-communicateDetails-listButton">
      <a th:href="@{/alheum/community/commuMain}">목록으로</a>
    </div>
  </main>

  <footer></footer>
</body>
</html>