<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>division-nonMember</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"> 
  <!-- division CSS -->
  <link rel="stylesheet" href="./../../static/css/division.css">
  <!-- fetch -->
  <script defer src="./../../static/js/headerNonMember.js"></script>
  <script defer src="./../../static/js/footer.js"></script>
  <link rel="stylesheet" href="./../../static/css/headerNonMember.css">
  <link rel="stylesheet" href="./../../static/css/footer.css">
</head>
<body>
  <header></header>

  <main>
    <!-- 구분 페이지 -->
    <div class="division-container">
      <div class="division-textCnt">
        <p>어떤 사람이 이용하시나요?</p>
      </div>
      <!-- 컨테이너 -->
      <div class="division-imgCnt">
        <!-- 보호자 -->
        <div class="division-imgW">
          <a href="./../../templates/protector/protectorLogin.html">
            <img src="./../../static/img/basic-divisionW.png" alt="">
            <p>보호자</p>
          </a>
        </div>
        <!-- 어르신 -->
        <div class="division-imgM">
          <a href="./../../templates/senior/seniorLogin.html">
            <img src="./../../static/img/basic-divisionM.png" alt="">
            <p>어르신</p>
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>
</body>
</html>