<!-- 헤더 로고 -->
<div class="header">
  <div class="headerLogo">
    <a href="./../../templates/protector/protectorMain-mainNonMember.html">
      <img src="./../../static/img/alheum_logo_white.svg" alt="">
    </a>
  </div> 
  
  <!-- 헤더 네비게이션 바 -->
  <div class="headerNav">
    <ul class="headerNav-container">
      <li>
        <a href="./../../templates/protector/protectorMain-mainNonMember.html">홈</a>
      </li>
      
      <li>
        <a href="./../../templates/protector/protectorIntroduce.html">소개/안내</a>
      </li>
      
      <li>
        <a href="./../../templates/protector/protectorRecommend-hospital.html">시설추천</a>
      </li>
      
      <li>
        <a href="./../../templates/basic/division.html">설문/검사</a>
      </li>
      
      <li>
        <a href="./../../templates/protector/protectorCommunity-announce.html">커뮤니티</a>
      </li>
    </ul>
  </div>
  
  <!-- 헤더 로그인/회원가입 -->
  <div class="headerLogin">
    <ul class="headerLogin-container">
      <li>
        <a href="./../../templates/protector/protectorJoin.html">회원가입</a>
      </li>
      
      <li>
        <a href="./../../templates/protector/protectorLogin.html">로그인</a>
      </li>
    </ul>
  </div>
</div>

