<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>passwordVerify</title>
    <!-- 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"/>
    <!-- css -->
    <link rel="stylesheet" href="/css/passwordVerify.css">
    <!-- fetch -->
    <script defer src="/js/headerMember.js"></script>
    <script defer src="/js/footer.js"></script>
    <link rel="stylesheet" href="/css/headerMember.css">
    <link rel="stylesheet" href="/css/footer.css">
  </head>
  <body>
    <header></header>

    <main>
      <!-- 비밀번호 검증 -->
      <div class="passwordVerify-logoImgBox">
        <img src="/img/alheum_logo.svg" alt="알흠로고" />
      </div>

      <h2>비밀번호 재확인</h2>

      <section class="passwordVerify-passwordContainer">
        <form action="" method="post" class="passwordVerify-form">
          <label for="passwordCheck">
            <input class="passwordVerify-input" type="password" name="passwordCheck" placeholder="비밀번호를 입력해주세요">
          </label>

          <p class="passwordVerify-p">정보를 안전하게 보호하기 위해 비밀번호를 다시 확인합니다</p>
          
          <a href="#" class="passwordVerify-button">확인</a>
        </form>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
